@using OdeToFood.Models
@model Restaurant

@{ 
    ViewBag.Title = "Create";
}
<h1>Create</h1>

<form method="post">
    @*<input type="text" name="Name" value="" />*@
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Cuisine"></label>
        <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()">
            @*<option value="value">text</option>*@
        </select>
        <span asp-validation-for="Cuisine"></span>
    </div>
    <input class="btn btn-primary" type="submit" name="save" value="Save" />
</form>